* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.box {
  width: 300px;
  height: 300px;
  padding: 20px;
}

body {
  font-family: "DejaVu Sans", Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  background-color: #03d2ff;
  background-image: url(images/bg.png);
  background-position: center;
  padding: 20px;
  padding-right: 150px;
  color: white;
  text-shadow: 1px 1px 2px #333;
}

.row {
  font-size: 1.3rem;
  color: #555;
  position: relative;
  margin-bottom: 20px;
}

.row > span {
  position: relative;
  top: 5px;
}

.row > input,
.row > textarea,
.row > select {
  position: absolute;
  right: 0;
  padding: 5px;
  border: solid 1px #ccc;
  width: 100px;
  outline: none;
  background: white;
}

.row > input:focus,
.row > textarea:focus,
.row > select:focus {
  border: solid 1px #aaa;
  outline: none;
}

.toggle {
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #ff797c 0%, #ff4c4f 100%);
  border: none;
  color: black;
  position: absolute;
  right: 20px;
  top: 25px;
  width: 100px;
  text-align: center;
  outline: none;
  color: #333;
  font-weight: bold;
  border: solid 2px #333;
  cursor: pointer;
}

.toggle--active {
  background-image: linear-gradient(to top, #65ffa0 0%, #29b45f 100%);
}

.debug {
  width: 300px;
  height: 300px;
  background-color: lavender;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #aaa;
  font-size: 1.1rem;
}

a {
  color: #008fff;
  text-decoration: none;
}

a:visited {
  color: #008fff;
  text-decoration: none;
}

a:hover {
  color: #008fff;
  text-decoration: underline;
}
